[2014-04-16 14:47] wagerfield opened #1 "Typo in README.md"
Small typo: `npm install --save history-api-fallback` should be `npm install --save connect-history-api-fallback`. You omitted **connect-** from the package name.

[2014-04-17 09:07] #1 closed, assigned to nobody

[2014-12-18 18:59] jonnyzzz opened #3 "Restart express.js interceptors processing on redirect"
I render contents with yet another interceptor (```app.use(...)```). Could be nice if redirect could have called all interceptors chain once more. Currently only the rest interceptions are executed

I worked it around in here
https://github.com/webpack/webpack-dev-server/pull/84

[2015-01-29 10:35] luandro opened #4 "Cannot read property 'headers' of undefined - Koa"
Here's a basic Koa `index.js`:

[code]
But  when I run the server I get this error:
[code]

[2015-01-29 12:18] bripkens commented on #4
This middleware is not compatible with koa. You would need to write an adapter for koa in order to make it work.

[2015-01-29 12:18] #4 closed

[2015-03-22 15:25] jercoh opened #5 "URL with dots"
Hello,

I'm using `historyApiFallback` as a middleware with browserSync to debug an Angular.js one page application.

Some of the URLs have dots in them `/library/version-2.3.4`, which is a criteria for `historyApiFallback` to not serve `index.html`.

Is there a way to get around this limitation?

Thanks.

[2015-03-23 06:37] bripkens commented on #5
Well, [the rule](https://github.com/bripkens/connect-history-api-fallback/blob/8781b66c585271e86f66585f776d4bdc52f4405f/lib/index.js#L33-L37) states that every URL with a dot character is *not* redirected to `index.html`.

The only way I can think of is to make this middleware configurable. Something like:

[code]

That would in turn deactivate the previously mentioned rule.

Feel free to send a p

[2015-03-24 04:59] jercoh commented on #5
Yes sure, I'll do it this week.
Thanks @bripkens !

[2015-04-11 06:08] bripkens commented on #5
@jercoh: I just released a new version of the historyApiFallback which supports custom regex patterns for URL rewrites. Would this be a sufficient solution for you?

[2015-04-15 03:44] cjmyles opened #8 "npm warning"
When I install npm packages I'm now seeing the following warnings:
[code]
I'm assuming this is because of the work we did?

[2015-04-15 05:38] bripkens commented on #8
Does this happen because of too incompatible versions, i.e. `0.0.5` and `1.0.0`?

[2015-04-15 05:46] cjmyles commented on #8
I wondered if it was because it couldn't find 0.0.5? Because the module will download 0.0.5 which wouldn't have the breaking changes?

I'm not on the list of contributors here :(
https://www.npmjs.com/package/connect-history-api-fallback

[2015-04-15 06:27] bripkens commented on #8
You associated an unknown email address, i.e. unknown to GitHub and npmjs, to your contributions. See here: https://github.com/bripkens/connect-history-api-fallback/commit/3f7249428a35ddc7dcee30bbfd251d3d9efd2353

[2015-04-15 07:21] cjmyles commented on #8
Ah well spotted. I have my work email address configured for all my commits. I've changed it now for this repo but it will only take effect on new commits!

[2015-04-15 20:55] jercoh commented on #5
That should be ok. But having a dot in a URL doesn't automatically means that this is a direct file request, which is common for versioning web service interfaces...

[2015-04-16 06:38] bripkens commented on #5
I rearranged the rules and allowed rules to be defined as functions. This should provide all the flexibility you need to handle versioned APIs.

[2015-06-22 13:42] lukaszgrolik opened #9 "Wrong default value of "index" option in README"
"Override the index (default `index.html`)" - should be `/index.html` (https://github.com/bripkens/connect-history-api-fallback/blob/master/lib/index.js#L69). Paths without the slash at the beginning don't work for me.

[2015-07-02 16:52] zhekaus opened #10 "connect-history-api-fallback doesn't work with gulp-connect developer server"
I’m trying to use it with Gulp like this:
var gulp = require('gulp'),
connect = require('gulp-connect'),
historyApiFallback = require('connect-history-api-fallback');

gulp.task('server', function() {
	connect.server({
		root: 'app',
		livereload: true,
		middleware: function(connect, opt) {
			return [ historyApiFallback ];
		}
	});
});

However, the server http://localhost:8080/ gives no respons

[2015-07-03 07:11] bripkens commented on #10
Please take note of the changed API since `v1.0.0`. The middleware is no longer exported, but needs to be explicitly created.

See https://github.com/bripkens/connect-history-api-fallback#options

[2015-07-03 07:11] #10 closed

[2015-07-18 09:55] web2style opened #11 "Improve README"
Hello. Thank you for the great module! You can add the snippet from [this stackoverflow answer](http://stackoverflow.com/a/30711530) to the README.

[2015-07-19 08:42] #9 closed

[2015-07-19 08:43] bripkens commented on #9
Thanks for reporting!

[2015-07-19 08:45] bripkens commented on #11
Hi,

unfortunately I cannot provide usage examples for every kind of middleware-aware system. Libraries like *browserSync* should explain how to use middleware. `connect-history-api-fallback` has usage examples for express and connect in its README. This should be sufficient for most users.

[2015-07-19 08:45] #11 closed

[2015-10-12 02:08] joshuarh opened #12 "Middleware only redirecting one level deep"
So, I expect I'm missing something here. I'm using the middleware with the default settings, in conjunction with `gulp` and `browser-sync`, to power an AngularJS app on my local machine. It works great for some routes but I can't seem to get it to work for routes more than 1 level deep.

For example: `http://localhost/users` will work, but `http://localhost/users/1` redirects back to `/users` and

[2015-10-12 05:37] bripkens commented on #12
Interesting issue. You can start debugging this issue by enabling logging via the `verbose` option:

[code]

This will print redirect reasons to the console.

[2015-10-12 15:50] joshuarh commented on #12
Thanks @bripkens. I did try this and this is the relevant line that I get:

`Rewriting GET /practice/1 to /index.html`

Not sure where to go from there, however..

[2015-10-12 17:34] bripkens commented on #12
This is the correct behavior for the history API fallback. See the following section from the README.

[2015-10-12 18:07] joshuarh commented on #12
Right, that makes sense.

What I'm wondering is, given this behavior, why `/practice` is preserved but `/practice/1` is not, and if there's anything I can do with this library to preserve the rest of the path. Any thoughts about that?

[2015-10-12 18:45] joshuarh commented on #12
So, I took a look at my S3 rewrite rules as I've getting the desired behavior there.

[code]

So I'm realizing that what I'm asking for is that I would like `/practice/1` to redirect to `/#/practice/1`.

Is that out of the scope of this library or is there configuration I can pass to get that same behavior?

[2015-10-12 19:12] joshuarh commented on #12
I'm going to close this out, on investigating this further I don't think it has probably has much to do with this middleware. I figured out the correct rewrite rule, but it's still not working. Probably something with my setup. Thanks!

[2015-10-12 19:12] #12 closed

[2015-10-12 20:48] joshuarh commented on #12
Sure enough, this was some routing code I had in my Angular app. Sorry about that.

[2015-10-22 17:45] marcosmartinezromero opened #13 "URL with embedded URL - Issue with "://""
Hello,

I am trying to use this plugin with URLs that contain another URL to identify a particular object, such as:

http://localhost:4200/elements/edit/http://example.org/1, where "http://example.org/1" is an identifier of an object in my domain.

I am using this configuration:
[code]
When trying lo load the previous URL, the log shows the message “Rewriting GET /elements/edit/https://example.org

[2015-10-22 17:56] bripkens commented on #13
Hey Marcos,

I suppose you have a route registered for `/`, but probably not for `/#/`? This would be a common use case and absolutely right. Normally, the part after the `#` is not transferred to the server, but due to the rewrite rule it kind of is.

Can you try changing the rewrite rule to `/`?

[2015-10-22 18:05] marcosmartinezromero commented on #13
You are right. However, I changed the rewrite rule to / and still have the same problem.
The log shows:
"Rewriting GET /elements/edit/http://example.org/1 to /"
but the browser returns the message:
"Cannot GET /elements/edit/http://example.org/1/".

[2015-10-23 05:42] bripkens commented on #13
This is correct behavior. The browser is not meant to see the redirect as it is internal to the server. Meaning: It is kind of similar to an Apache rewrite rule or proxy configurations. But the message `Cannot GET…` looks like the automatically generated express message for 404s.

Is you app open source by any chance so that I can inspect the route configuration? If not, maybe you can post your ro

[2015-10-23 16:32] marcosmartinezromero commented on #13
Hi Ben,

Currently the project is not open source, but here is the fragment of the route configuration that is relevant for this discussion:

[code]
Have you ever tried to use this plugin to rewrite URLs with embedded URLs? Do you have any example code that I can take a look at?

Thanks for your help and, of course, for maintaining this great plugin!

[2015-10-23 16:53] bripkens commented on #13
Embedded URLs should work as long as they are properly URL encoded. Could you also paste your express route and middleware config?

[2015-10-23 17:28] marcosmartinezromero commented on #13
I was trying to use gulp-connect with the following configuration:

[code]
Note that the rewriting rule shown above ('/') is just for testing purposes.

[2015-10-23 18:29] marcosmartinezromero commented on #13
It looks like this is a URL encoding problem. When using the $locationProvider.html5Mode(true), the URL shown in the browser is not encoded (http://localhost:4200/elements/edit/http://example.org/1), so if I refresh the page, the middleware receives a unencoded URL, which is not working. When entering http://localhost:4200/elements/edit/http%3A%2F%2Fexample.org%2F1 everything works fine.

[2015-10-24 07:03] bripkens commented on #13
Glad to hear that! Does this mean that we can close the issue?

[2015-10-24 07:14] marcosmartinezromero commented on #13
Yes, thanks.

[2015-10-24 07:14] #13 closed

[2015-11-09 17:21] bripkens commented on #8
Looks like this can be closed.

[2015-11-09 17:21] #8 closed

[2016-01-11 18:36] afgallo opened #16 "Question: How to properly rewrite URLs?"
Hi,

I'm using this library which works really well on my JavaScript single page application. I've got the code below to do my rewrites. As you can see, all I'm doing is removing the first part of the url path so my static assets get served appropriately from index.html. I must admit I feel embarrassed as it seems am repeating myself quite a lot. I think I'm missing a regular expression that can d

[2016-01-11 20:10] bripkens commented on #16
Why do you need rewrite rules for all these paths? JavaScript and CSS files should not be subject to redirects due to the rule

[2016-01-12 00:00] afgallo commented on #16
I saw that rule but it doesn't work for me - I've got routes that are more than one level deep:

If I browse to domain.com it works!
If I browse to domain.com/page it also works!
If I browse to domain.com/another/page it doesn't :(

[2016-01-12 05:59] bripkens commented on #16
You could leverage the regex match object. This object is provided via `context.match`. Here is an example from the Node.js REPL:

[code]

This means that you could use a regex as shown above and use the match object in the `to`  function as follows:

[code]

Does this work out for you?

[2016-01-12 06:01] bripkens commented on #16
Sorry, I just noticed that you want to strip the prefix for static resources. You could use a similar strategy as shown above with minor changes. The match contains all the information that you need to do this with one rewrite rule.

Hope this helps!

[2016-01-13 11:30] afgallo commented on #16
Yeah, the only thing I need is to strip out the first part of the path in case it the url but only when the url path is something like site.com/one/two. I'll give the match object a try ... my regex skills sux tho :(

[2016-01-16 06:49] bripkens commented on #16
Can this be closed?

[2016-01-16 06:49] #3 closed

[2016-01-16 11:01] afgallo commented on #16
Yes please

Sent from my mobile

[2016-01-16 11:14] #16 closed

[2016-01-31 01:02] adambuczynski opened #17 "Fix dots in URL not being rewritten"
I have a problem with some of my URL's containing a JWT. JWT's have a dot in them, and it's currently causing my URL's not to get rewritten.

The culprit are these lines https://github.com/bripkens/connect-history-api-fallback/blob/master/lib/index.js#L59-L67

I understand they are in there for filenames, but perhaps the check can be made a bit better, like test if the dot is in the last 5 charact

[2016-01-31 01:44] adambuczynski commented on #17
As a workaround, I've resorted to write my own simple middleware. Instead of filtering out what is the SPA, I am first using the `serve-static` middleware to serve all static files, and then my own middleware to reroute all the rest to the SPA `index.html`:

[code]

This does the trick for me.

[2016-01-31 05:05] bripkens commented on #17
You could use the rewrites option ([docs](https://github.com/bripkens/connect-history-api-fallback#rewrites)) to route everything under `/email` to the URL received, i.e. do not actually change the URL. This way the middleware will only notice that a user-defined routing mechanism was used and stop the fallback mechanism.

[2016-01-31 08:06] adambuczynski commented on #17
I have several URL's that can contain a dot though, and I don't want to have to maintain the serve script whenever I add a new one, so I'll use my work around as a solution for now.

Feel free to close the issue if you don't want to address this use case.

[2016-01-31 08:09] bripkens commented on #17
Okay, thanks.

[2016-01-31 08:09] #17 closed

[2016-02-23 03:36] sunyang713 opened #18 "Serving index.html from memory?"
Hi, so I use webpack-dev-server, and I use a the html-webpack-plugin. As a result, the index.html is served from the cache memory along with the rest of the javscript files. How can I use your middleware to still handle hitting 'refresh' on `http://locahost:8080/some/route`?

[2016-02-23 03:38] #18 closed

[2016-02-23 03:38] sunyang713 commented on #18
I'm really sorry, I posted to the wrong repo -___-'

[2016-03-04 16:07] CreativeManix opened #19 "Nested routes with / not working"
If the nested route has / then it is not working when I request to the nested route directly.

But React-router works with /

I am not sure if this is a issue, please investigate.

[2016-03-04 16:12] bripkens commented on #19
This is a bit too vague to work on. Can you provide a failing test case to reproduce this issue? See the following test case for a test example:

https://github.com/bripkens/connect-history-api-fallback/blob/ba0f49cc69af15a385cdcd73054a2037a48886a2/test/index_test.js#L53-L61

[2016-03-04 16:12] bripkens commented on #19
I see you cross posted this issue to various projects:

https://github.com/davezuko/koa-connect-history-api-fallback/issues/2
https://github.com/davezuko/react-redux-starter-kit/issues/627#issuecomment-192297850

[2016-03-04 16:14] CreativeManix commented on #19
Sorry that was by mistake.

however I was testing "react-slingshot" where this module is used. and I had the same issue.

[2016-03-04 17:47] bripkens commented on #19
Unfortunately, URL handling involves some many components, especially when SPAs are involved, that it is impossible to debug issues with so little information. If you require help, I need a test case to verify the behavior of the library against.

[2016-03-17 16:06] Kaijun opened #21 "Log showed it was redirected successfully, but actually it wasn't?"
![screen shot 2016-03-17 at 16 56 55 1](https://cloud.githubusercontent.com/assets/1693027/13852384/12d9330a-ec62-11e5-9661-84aaf0d9ba44.png)

I'm using historyApiFallback with my express server which serves a React-App in the 'static' folder. And the express server only provides APIs for the React App.

I just enabled history api fallback
[code]

something like this.

It's normal if i request "ht

[2016-03-21 06:20] bripkens commented on #21
You need to place the historyApiFallback before the `express.static` handler. Also, the history API fallback only redirects internally, i.e. this is not visible to the user. Does this help?

[2016-04-29 19:23] maximedupre commented on #21
I am having the same problem, but with a different setup. I am using lite-server (a fork of browser-sync) with two middlewares. The first one is ''connect-history-api-fallback" and the second one is "http-proxy-middleware".

"connect-history-api-fallback" confirms it did a rewrite in the console, but when "http-proxy-middleware" picks up the request, it has not been rewritten.

    Rewriting GET /

[2016-04-30 18:38] bripkens commented on #21
@maximedupre: I am not familiar with `http-proxy-middleware`. `connect-history-api-fallback` is mutating the `request` object it retrieves by changing the `url` property ([source](https://github.com/bripkens/connect-history-api-fallback/blob/e5bc77c5b1e3c9d07647764675971d262e773ac9/lib/index.js#L71)). It might be that `http-proxy-middleware` has some other internal mechanisms to identify the URL.

[2016-04-30 22:28] maximedupre commented on #21
So now I'm using `connect-history-api-fallback` on my express server, instead of with `lite-server`. It had to do it anyway. By doing it this way, `connect-history-api-fallback` doesn't have to exchange information with `http-proxy-middleware` anymore. It works fine now, so it was probably a problem with `http-proxy-middleware` (or as you said a problem of communication between the two middlewares

[2016-05-01 05:13] bripkens commented on #21
Glad to hear that @maximedupre. I'll be closing this issue for now.

[2016-05-01 05:14] #19 closed

[2016-05-03 20:12] NateRedding opened #24 "Option to rewrite only if original file not found"
My 'Single Page Application' is actually split into a few smaller 'Single Page Application's. As such, I need to specify rewrite rules so that I can redirect to the appropriate index.html file. For example:

[code]

However, when I do this, it loads the 'index.html' file (whichever it may be) instead of loading files that actually exist at other sub paths. For example:

`/app/login/app.js`

Is the

[2016-05-03 20:13] NateRedding commented on #24
I am also quite possibly willing to submit a PR if desired.

[2016-05-04 06:16] bripkens commented on #24
Hey @NateRedding,

thanks for this detailed issue! I can see why this is confusing. This middleware evaluates the `dot` rule after the `rewrite` rule.

To support your use case, this middleware has the option to specify a `function` to define the rewrite target. I added a test to the repository with a simple rewrite rule implementation. You should be able to adapt it to your use case:

https://git

[2016-05-04 20:48] NateRedding commented on #24
I resolved my problem by writing my own middleware function that does the rewrites as I need them. I was hoping to use connect-history-api-fallback to avoid writing that custom function and keep things a little cleaner. I don't particularly see a reason to use it if I still have to write a custom function.

Oh well - not a huge deal. Thanks for taking a look and providing the example - I truly app

[2016-05-04 20:59] #24 closed

[2016-05-06 09:08] fixpunkt opened #25 "Option to allow URLs that contain a dot (.) to be rewritten"
Hi there,

I've got a use case that is a little different:

My view URLs may actually contain dots as part of the URL (because I pass quoted URLs as a path parameter). For this to work I'd need the following:

* a config option that disables the rule "don't rewrite if route contains a dot"
* the content of #22 to be merged

Would you be willing to consider this use case?

Cheers,

Jannik

[2016-05-06 09:14] fixpunkt commented on #25
Seems to be kind of a duplicate of #17. I'm leaving this open for now to document that more than one person actually has a need for this feature, but feel free to close if you think it's too esoteric.

I'll resort to hacking my own middleware for now.

[2016-05-06 09:50] bripkens commented on #25
@fixpunkt: This topic has come up multiple times now. So I'd inclined to solve it with this middleware. Would #22 solve your use case with a few changes? I am thinking about merging #22 and changing the contents of the `ignorePaths` array to be a regex.

If this solves your use case, I'll merge and release this asap.

[2016-05-06 10:03] fixpunkt commented on #25
Unfortunately, #22 only fixes part of the problem. I would also need a config option `rewriteDots` that disables this code path:

    if (parsedUrl.pathname.indexOf('.') !== -1) {
      logger(
        'Not rewriting',
        req.method,
        req.url,
        'because the path includes a dot (.) character.'
      );
      return next();
    }

#22 is required to alleviate the fallout of this:

[2016-05-06 14:18] bripkens commented on #25
That sounds pretty complicated @fixpunkt. Is there no way for you to make use of the rewrites rule?

https://github.com/bripkens/connect-history-api-fallback#rewrites

[2016-05-07 03:48] aceofspades commented on #10
This did it for me:

[code]

[2016-05-07 11:02] fixpunkt commented on #25
Yeah, maybe something like `{from: /^!(\/assets\/)/, to: '/index.html'}` might work, but at that point this middleware gets kind of redundant.

I've ended up building a 3-line koa middleware that does this to solve my problem yesterday, so yeah, I guess we can close this issue. Thanks for your help!

[2016-06-06 18:51] chimurai commented on #21
Hi @maximedupre, @bripkens

"http-proxy-middleware" also mutates the same `request.url` property. But in a slightly different way:

`req.url = req.originalUrl;` ([http-proxy-middleware source](https://github.com/chimurai/http-proxy-middleware/blob/53fe79b6c36ca4034c3fd68ffb29bcc81d84e576/lib/index.js#L73))

This explains the difference in behavior... (basically ignores/overwrites the rewritten url

[2016-06-16 15:10] hoodwink73 opened #26 "Let some path fall through for express / koa to handle?"
I want my local server serving the static `index.html` file to also serve some *api* on a particular endpoint?

Let's say, on a '/api/search' I want my server to talk to a service to tell me the results?

Can 'rewrites` be only used to serve other static files or can it create a hole in the history fallback middleware so the defined routes can actually talk to servers?

[2016-06-16 15:15] hoodwink73 commented on #26
You can write route and it handler before the introducing historyFallback middleware but is there another solution?

[2016-06-16 15:49] bripkens commented on #26
Hey @hoodwink73,

the easiest solution is exactly the one you described: Define other middlewares before the history API fallback. There hasn't yet been enough requests for path ignores and as such I haven't yet merged https://github.com/bripkens/connect-history-api-fallback/pull/22.

[2016-08-06 18:07] domenkozar commented on #25
What is the best way of dealing with this? It's a really annoying behavior, some of my URLS include a dot because it's a valid URL character.

I'd like to understand better why `.` is considered a special case, doesn't file get first requested if this actually exist and only then fallback is used?

[2016-08-07 06:55] bripkens commented on #25
@domenkozar: Since this has been request a bunch of times now, I added an option to disable the `.` rule. See the readme:

https://github.com/bripkens/connect-history-api-fallback#disabledotrule

The feature has been released as version `1.3.0` to NPM. Please let me know whether this solves your problem.

[2016-08-07 09:30] domenkozar commented on #25
@bripkens thanks! I wonder why dotrule is even needed? Shouldn't filesystem be accessed first and then fallback would go to history api?

[2016-08-07 19:07] bripkens commented on #25
In a perfect world, yes. Unfortunately, there are very many ways where this gets complicated:

 - What is the root directory for filesystem access?
 - Is filesystem access permitted for this user?
 - Is the file served in some kind of special way, e.g. by transformation from a template?

On top of all this, the dot rule has been part of this middleware since day 1 (worked perfect for my use case a

[2016-08-13 21:23] ecohort commented on #10
Thanks!!

`        middleware: function (connect, opt) {
          return [ historyApiFallback({}) ];
        }`

[2016-08-29 11:24] jcubic opened #27 "Option to allow for dots in url"
I have angular app that have urls like:

/app/apache/1.0.2/details

and when I refresh the browser I got error `Cannot GET /app/apache/1.0.2/details` because of this code:
[code]

it would be nice if the library include an option to disable this behavior.

[2016-08-29 11:35] bripkens commented on #27
Hey @jcubic,

this middleware actually includes an option to do this:

https://github.com/bripkens/connect-history-api-fallback#disabledotrule

Cheers

Ben

[2016-08-29 11:35] #27 closed

[2016-08-29 11:36] bripkens commented on #25
Closing since this is implemented now.

[2016-08-29 11:36] #25 closed

[2016-08-29 11:36] bripkens commented on #26
Closing due to inactivity.

[2016-08-29 11:36] #26 closed

[2016-08-29 11:45] jcubic opened #28 "The app don't serve static files when using disableDotRule options"
if you use disableDotRule option static files like js that contain a dot are not serve. I think that the code should, if option is set, check if the file is on the disk and if so call next().

[2016-08-29 12:13] bripkens commented on #28
Do you have any proposal how this should be done? The problem is, that files could be mounted at different locations and served using a variety of common and hand-written middlewares.

[2016-09-07 17:01] sasikumardr commented on #28
@bripkens Something like capturing static files as globs in options is feasible?

[2016-09-10 09:36] jcubic commented on #28
I've fixed my issue using [rewrites](https://github.com/bripkens/connect-history-api-fallback#rewrites)

[2016-09-13 17:10] bripkens commented on #28
Both sound like interesting approaches to me @sasikumardr. Are you willing to prototype something so that we can give it a try?

[2016-09-13 17:34] sasikumardr commented on #28
Something like this before dot rule check.
[code]

[2016-09-13 20:05] bripkens commented on #28
Not sure whether this is necessary. What if we would do the following?

[code]

Wouldn't we achieve the same thing with less configuration duplication?

[2016-09-16 02:43] sasikumardr commented on #28
This will work with disableDotRule? I think files will be served as index.html. Did not try this method though.

I came across this issue in one of github [project] (https://github.com/mgechev/angular2-seed/issues/1269) and solved the issue by [rewrite rules] (https://github.com/mgechev/angular2-seed/commit/0069fda30fd383da96a034a178cbd422fc53bd10)

[2016-10-25 06:37] vizo commented on #28
Anything new about this?

[2016-10-30 05:34] #28 closed

[2016-10-30 05:35] bripkens commented on #28
I added a demo app which shows how to do this:

https://github.com/bripkens/connect-history-api-fallback/tree/master/examples/static-files-and-index-rewrite

[2016-11-13 22:56] mogusbi commented on #28
@jcubic Could you share the rewrite rule that fixed this issue for you?

[2016-11-14 08:33] bripkens commented on #28
@mogusbi: Doesn't the previously posted example app help with your problem? If not, why? Trying to improve this so this becomes less confusing.

[2016-11-14 08:36] jcubic commented on #28
@mogusbi I had urls like this `/custom-tabs/show/:name/details/:toolchain/:version/` and I use this rule:
[code]

[2016-11-14 17:05] mogusbi commented on #28
@bripkens I'm using this with browsersync for development rather than an express app so the example isn't applicable

@jcubic Thank you

I've got this working using this (it only works if all of your static assets live in a assets folder):

`
rewrites: [{
  from: /^(?!\/assets\/)/i,
  to: '/index.html'
}]
`

[2016-11-25 14:48] TestKitt commented on #26
I'd be interested in this exact use case, where /api* would "fall through" to the application. Suggested solution seems fine to me though

[2016-11-25 16:27] bripkens commented on #26
@TestKitt: Did you check out the example app? It shows exactly how to solve this use case:

https://github.com/bripkens/connect-history-api-fallback/tree/master/examples/static-files-and-index-rewrite

[2016-12-02 17:37] huzjakd opened #30 "Invalid URL after second slash"
If I enter URL like this: localhost:3000 it serves me index.html which is ok
If I enter URL localhost:3000/admin it serves me admin page which is ok
If I enter URL localhost:3000/invalidpage it serves me index.html again which is also ok
But if I enter localhost:3000/admin/invalidpage it tryes to get the invalid page, which is not ok.

So how do I set it up so that it serves index.html even after

[2016-12-02 18:59] bripkens commented on #30
Without further information this is hard to say. Is your application available somewhere so that I can check this out? How is the middleware configured? How are the routes configured? How is the URL requested? What headers are used?

[2016-12-02 21:26] huzjakd commented on #30
Unfortunately the app is still just on localhost.
In node.js it is set up like this:
var express = require('express');
var app = express();
var history = require('connect-history-api-fallback');
app.get('/admin', function (req, res) {
//returns admin page
//here I manually build the "endHtml" string and send it to the frontend with this:
res.end(endHtml, 'utf-8');
});
app.get('/', function (req, r

[2016-12-05 15:04] huzjakd commented on #30
One more thing. If I start node server and go directly to localhost:3000/myapps I get a page where it says: Cannot GET /myapps
But if I go first to localhost:3000 and it loads, and than type /myapps later, everything works fine

[2016-12-06 04:19] bripkens commented on #30
You should generally use the middleware before your other route definitions and next to your static file middleware. Can you check out the example app and setup your project accordingly?

https://github.com/bripkens/connect-history-api-fallback/blob/master/examples/static-files-and-index-rewrite/index.js

[2016-12-06 13:15] huzjakd commented on #30
I figured out what was the problem.
The module did redirect correctly to index.html everytime. But in the index.html I have stuff like: <script src="js/jquery-2.1.1.js"></script>
and if I navigated to localhost:3000/myapps/somethinginvalid it would serve index.html but the url for jquery file which would be requested next would be "myapps/js/jquery-2.1.1.js" instead "js/jquery-2.1.1.js", and off c

[2016-12-06 15:26] bripkens commented on #30
Sounds great! I'll close this then.

[2016-12-06 15:26] #30 closed

[2016-12-15 15:04] huzjakd commented on #30
Just in case anyone else is interested:
<script src="../js/jquery-2.1.1.js"></script> doesn't work either. This just starts from one level above so for the URLs like localhost:3333/myapps/1 it works but not for localhost:3333/1/1/1/1/1... etc.
To really make it work it should be <script src="/js/jquery-2.1.1.js"></script> so it always starts from the root.

[2017-02-01 20:19] ripper234 opened #33 "Add an option to ignore a set of paths"
I have a Singel Page App that issues JSON requests, and would like to handle it all from the same node server. It would be neat if an option similar to `rewrites` could be add so this module would just not touch these routes.

[2017-02-01 20:25] bripkens commented on #33
This is already supported when using proper `Content-Type` headers. Also see the example app, specifically [1].

[1] https://github.com/bripkens/connect-history-api-fallback/blob/master/examples/static-files-and-index-rewrite/assets/js/index.js#L4

[2017-02-01 20:25] #33 closed

[2017-02-01 20:50] ripper234 commented on #33
Cheers, thanks.

[2017-02-03 12:57] szimek opened #34 "Is there a way to get the original path?"
I got the following code:
[code]
Is there any way to get the original path (before rewrite) inside the handler for `/index.html` path?

[2017-02-03 13:43] bripkens commented on #34
No, this doesn't exist, but should be easy to add. Feel free to open a PR and I'll check it out.

[2017-02-10 07:50] MrKou47 opened #35 "How can i redirect this req to my declare path?"
Hello , I have some problem from useing this middleware.
there is my folder:

[code]
there is my server.js:

[code]

[2017-02-10 07:54] bripkens commented on #35
The `index` file you can specify via `history({index: '…'})` is not a file system path. Instead, it is the request path the server will see when the middleware decides to rewrite the path.

Did you check out the example app?

https://github.com/bripkens/connect-history-api-fallback/tree/master/examples/static-files-and-index-rewrite

[2017-02-10 07:58] MrKou47 commented on #35
@bripkens
oh, i add `app.use(express.static('server/view'));` behind use `history middleware`,it works great.
thx!

[2017-02-10 07:59] bripkens commented on #35
Glad to hear this! :)

[2017-02-10 07:59] #35 closed

[2017-02-10 07:59] MrKou47 commented on #35
and this middleware just redirect view's route to request a statics file.   isn't right?

[2017-02-10 08:01] bripkens commented on #35
Not quite, this middleware changes the request URL. What happens with that request is up to your application:

https://github.com/bripkens/connect-history-api-fallback/blob/master/lib/index.js#L72

[2017-02-15 03:37] misterigl commented on #30
thanks, I had the same problem with my Vue router

[2017-04-22 18:31] morriq commented on #33
@bripkens I need to have https://github.com/graphql/graphiql under my localhost:8080/graphql path. How can I achive that without operating in paths?

[2017-04-23 10:16] bripkens commented on #33
@morriq: I don't understand how this is a problem of this middleware? If it is a problem, please provide more information and open a new issue.

[2017-06-12 14:28] moimael opened #37 "Is there an order in resolving rules ?"
Hi,

I'm trying to get this to work with react dev server. I have my landing pages under the `/` path and I want everything to be rewritten to `landing-pages.html` except if a more specific rule follows. For example if i have a rule to rewrite `/admin` to `admin.html`, I want it to take precedence over the `/` rule.

Currently I manage to get one or another, but not both working at the same time.

[2017-06-12 14:46] bripkens commented on #37
Hi @moimael,

you can use the [rewrite](https://github.com/bripkens/connect-history-api-fallback#rewrites) option to accomplish this. Note that this requires you to manually specify the `/admin` rule. `connect-history-api-fallback` has no mechanism to inspect express (or similar) handler chains.

[2017-06-12 14:46] #37 closed

[2017-06-29 00:47] bochen2014 opened #38 "is it possible to add redirect option"
no need.. we can create a route for that

[2017-06-29 00:56] #38 closed

[2017-07-12 07:09] htfy96 opened #39 "Fallback to closest index.html"
Hi,
I'm developing a website containing multiple SPAs along some static files in single project. The directory structure is as follows:
[code]

I want to serve all `/foo/bar` with `index.html` and `/SPA1/foo/bar` with `SPA1/index.html`. Is there any way to achieve this?

[2017-07-12 07:10] bripkens commented on #39
You might be able to achieve this by mounting multiple instances of this middleware under different paths, but I have never tried this.

[2017-07-12 07:26] htfy96 commented on #39
Thanks for reply. Finally I specified multiple `rewrites`:
[code]

[2017-07-12 07:26] #39 closed

[2017-07-14 20:28] hackingbeauty opened #40 "Uncaught SyntaxError: Unexpected token <"
Hello, I'm using "connect-history-api-fallback" with webpack-dev-middleware.

I noticed that with multiple parts in a route (/user/12345), I'm getting an "Unexpected token <" error.  There is no error when the route has only one part (/user).

Here is a public gist for my server set up: https://gist.github.com/hackingbeauty/3654f5dae04abf9aa480d2823cc5e184

Is there any way I can patch this?

[2017-07-24 10:27] zuobaojing commented on #40
@hackingbeauty seems you need to pass in htmlAcceptHeaders as well
[code]

[2017-07-24 16:17] hackingbeauty commented on #40
There was an issue with my Webpack config.  Thank you replying.

[2017-07-24 16:17] #40 closed

[2017-10-24 07:19] ianrussel opened #43 "error 404 when refreshing page"
Hello, I have this error when I refresh page

  localhost:9000 -> 404
localhost:9000/path1 -> 404
..etc

I set up my express js like this

app.js

         const history = require('connect-history-api-fallback');
         const connect = require('connect');

         app.use(history());

This is my router setup(vuejs)

       `import VueRouter from 'vue-router';

       import AddVue from '../comp

[2017-10-24 17:11] bripkens commented on #43
You could start by setting the log level to verbose and seeing what the history API fallback is doing. I am pretty certain that this is not a problem with the history API fallback:

https://github.com/bripkens/connect-history-api-fallback#verbose

[2017-10-24 17:11] #43 closed

[2017-11-09 08:23] VladShcherbin opened #44 "Serve different index.html for subdomain"
Hey, I'm using webpack-dev-server with history api to serve pages. By default, it gives `index.html` and I want to make it work this way:

[code]

I was able to serve different page for different `pathname`, but can't make it work for a subdomain. Is it somehow possible?

[2017-11-09 08:30] bripkens commented on #44
Hi,

this is not yet possible as the `context` object which is available for rewrites [1] does not provide access to the HTTP host header.

[1] https://github.com/bripkens/connect-history-api-fallback#rewrites

[2017-11-09 08:32] VladShcherbin commented on #44
@bripkens maybe `index` can be used somehow like this:

[code]

[2017-11-09 08:44] bripkens commented on #44
TBH when you have reached this stage, then you can probably use a custom middleware. I am open to extending the context object, but anything beyond this I am considering out of scope right now.

[2017-11-09 08:47] VladShcherbin commented on #44
@bripkens hm, maybe it's possible to add `req` object to context [here](https://github.com/bripkens/connect-history-api-fallback/blob/master/lib/index.js#L87) so it can be accessed from 'to' function?

[2017-11-09 08:49] VladShcherbin commented on #44
Some kind of this, if it will work:

[code]

[2017-11-09 08:52] bripkens commented on #44
That I would be willing to accept a PR for ;)

[2017-11-09 08:58] VladShcherbin commented on #44
@bripkens I actually tried this one before, but had a problem.

[code]

With this config, I expect all url's to server `admin.html`. Pages like `/some` show `admin.html`, but the index route (`/`) still shows `index.html`.

Maybe I need to change the regex pattern or `index` overrides `/` path?

[2017-11-09 09:18] VladShcherbin commented on #44
@bripkens nah, it's a side-effect of `webpack-dev-server`, it gives static files from `contentBase` folder before resolving history api. I'll try to somehow cheat it.

[2017-11-09 09:42] VladShcherbin commented on #44
Yes, I can make it work with `req` in `context`. I'll send a PR.

[2017-11-09 16:45] #44 closed

[2017-12-13 23:13] dlvx opened #46 "Issue with last dot happening before last slash"
Hello, I am affraid the commit 7af0bc7 has brought an unexpected issue. Let me explain:

I am doing a call to an API with an URL of the form:

/apis/core.py/endpoint

I am using a proxy to target this call to another server.
Before the changes from 7af0bc7 everything was working properly cause no rewrite was being applied to the url, and the proxy worked as expected.

Now, this type of url doesn't

[2017-12-24 17:51] ramazan793 opened #47 "Exceptions for particular routes"
How to not rewrite particular routes like `/auth/google`?
Is there a way to add own exclusion for some routes?

My temporary solution - use history only for specified routes, not for all app like `app.use(history)`

[2018-01-04 15:45] TGMorais commented on #34
Is this not already accessible in with `req.originalUrl` ?(http://expressjs.com/en/api.html#req.originalUrl)

This example seems to work for me
[code]

[2018-01-07 17:36] bripkens commented on #34
This works with express, yes, but please note the different values compared to `req.url` (see the docs).

[2018-01-11 02:47] guoxiangwen opened #48 "static/js notfound"
app.use(express.static(path.resolve(__dirname, config.outputDir)));
app.use(express.static(path.resolve(__dirname, './../files')));
app.use(history({

}));

app.use(express.static(path.resolve(__dirname, config.outputDir)));
app.use(express.static(path.resolve(__dirname, './../files')));

when i set this. it found static/js/xxx.js not found
![image](https://user-images.githubusercontent.com/762719

[2018-01-26 10:59] superevanzhu commented on #47
I also want know that.

[2018-01-26 14:08] bripkens commented on #47
The result of calling:

[code]

is just a function of the form `(req, res, next) => void`. You can create a wrapper around history to achieve what you want. Adding exception support is out of scope for this module.

[2018-01-26 14:08] #47 closed

[2018-01-31 14:25] DonGissel opened #49 "Redirection causes download for SHTML-files"
If using middleware that performs serverside-parsing of the target file (say, `index.shtml`), the file in question will just be downloaded, instead of parsed and served as I would've expected and/or hoped.

A middleware setup like this for BrowserSync:

[code]

... will just result in me getting the raw file instead of the parsed one, and by forced download at that. I do realize the trouble and po

[2018-01-31 14:31] bripkens commented on #49
This usage question is unrelated to this project. Please consider opening a question on something like stackoverflow.

[2018-01-31 14:31] #49 closed

[2018-01-31 14:43] DonGissel commented on #49
Unless this is a bug that the plugin might be able to circumvent – in that case it's actually a feature request. But sure.

[2018-06-14 19:46] nighojkarv opened #52 "Application crashing after adding disableDotRule: true"
After adding disableDotRule:true the entire application is crashing.
Console error: **Uncaught SyntaxError: Unexpected token <**
The application works without issues when disableDotRule is false or absent.

This is my dev-server.js

[code]

[2018-06-14 19:58] bripkens commented on #52
This error is most likely not related to `connect-history-api-fallback`, but rather your application. Could you please post the full stacktrace?

[2018-06-14 20:19] nighojkarv commented on #52
I am not getting any other error on the stack trace. Just that one error.

<img width="855" alt="screen shot 2018-06-14 at 4 17 20 pm" src="https://user-images.githubusercontent.com/11322165/41436104-b3065a8a-6fee-11e8-93bb-a1da9ed6e80e.png">

[2018-06-14 20:27] bripkens commented on #52
I will have to close this issue. This is most likely not an issue in this library. I'd recommend to ask for help on Stackoverflow as I have no capacity to handle this.

[2018-06-14 20:27] #52 closed

[2018-07-10 23:51] htasha opened #53 "How to handle multi level routes? e.g. /foo/bar - /foo/bar/baz etc"
I've been trying to get my head around this but I couldn't find a way to do it, I'm using Vuejs for the client and I have a few routes `/foo, /foo/bar, /foo/bar/baz` the first route `/foo` works perfectly with this setup:

[code]
this is the output from the console when you request `localhost:8080/`

[code]
those are the files from my build and untill now I have no problem with those files, so far

[2018-07-11 06:17] bripkens commented on #53
Hey @htasha,

this is a bunch of information and based on a quick read, the most probable cause is a combination of HTTP request `Accept` headers I would say. I

This being said, I have no capacity to provide usage support. Please ask usage questions on Stackoverflow.

[2018-07-11 06:17] #53 closed

[2018-07-11 06:19] htasha commented on #53
🙄

[2018-08-22 20:24] brokyo opened #54 "Rerouting insecure requests with express"
This is less of a bug and more that I'm just trying to understand best practices with the package. Currently I'm using this with a fairly simple express server that serves up a Webpacked Vue SPA.

My server could be abstracted to look like this:

[code]

This works in every case other than one in which I enter `http://[hostname]` into the browser.
`http://[hostname]` is passed to the `else` statem

[2018-08-22 21:17] brokyo commented on #54
Yikes. Looks like this was already in there and I just didn't read the docs as thoroughly as I thought :/

Leaving this in the event it's useful to someone else. You can handle this case by using [rewrites](https://github.com/bripkens/connect-history-api-fallback#rewrites) and just checking for the /index.html string.

That is: my middleware should look more like this:
[code]

All good now! Thanks

[2018-08-22 21:18] brokyo commented on #54
Yikes. Looks like this was already in there and I just didn't read the docs as thoroughly as I thought :/

Leaving this in the event it's useful to someone else. You can handle this case by using [rewrites](https://github.com/bripkens/connect-history-api-fallback#rewrites) and just checking for the /index.html string.

That is: my middleware should look more like this:
[code]

All good now! Thanks

[2018-08-22 23:42] brokyo commented on #54
Sorry to reopen this but this actually isn't work as anticipated :/

The solution above only works when I manually enter `http://[host]/index.html/` into the browser - it doesn't work when I enter `http://[host]`.

Any suggestions would be appreciated :)

[2018-08-23 16:58] bripkens commented on #54
See this example app for best practices: https://github.com/bripkens/connect-history-api-fallback/tree/master/examples/static-files-and-index-rewrite

[2018-08-23 16:58] #54 closed

[2018-09-24 08:02] zgj233 opened #55 "How about use this lib in koa?"
Could give me some proposal about to use  ```connect-history-api-fallback```  in koa?

[2018-09-24 08:32] bripkens commented on #55
Hey @zgj233,

the great @dalhorinek has forked this lib to provide a koa variant for it:

https://github.com/dalhorinek/koa-history-api-fallback

[2018-09-24 08:32] #55 closed

[2018-09-25 02:44] zgj233 commented on #55
thanks，sir

[2018-10-12 17:42] incompletude opened #56 "URL with ending slash."
I'm using `connect-history-api-fallback` with `browserSync`.

[code]

If I'm at `http://localhost:3000/about`, it will load `about.html` correctly. About is a folder, so I'm trying to change the regular expression to `/\/about\//`, but if a navigate to `http://localhost:3000/about/`, this time the page will not properly load.

[code]

I have not disabled the dotrule, why are these files being rewr

[2018-10-12 17:51] #56 closed

[2018-11-17 14:48] trollepierre commented on #48
This line
app.use(history());

should come before this line
  app.use(express.static(path.join(__dirname, '..', 'client', 'dist')));

[2018-11-17 15:12] trollepierre opened #57 "Problem with static assets"
I had to add this code to fix the static path of my website
[code]

[2019-01-04 14:06] helfi92 opened #58 "Normalize rewrites"
I was wondering if we could normalize the rewrite to prefix a file with `/` when missing:

[code]

would become:

[code]

This would avoid issues like https://github.com/neutrinojs/neutrino/issues/1274#issue-395029677. Thank you.

[2019-01-04 14:15] bripkens commented on #58
Couldn't this break relative path requests?

[2019-01-04 14:30] helfi92 commented on #58
I'm using this via https://webpack.js.org/configuration/dev-server/#devserver-historyapifallback. Is there a scenario when we wouldn't want it to be an absolute path? If we leave it, then maybe an appropriate error could be logged. I am just trying to make sure less people end up in a similar scenario :)

[2019-01-04 14:39] bripkens commented on #58
I am not sure what effect it could have to start prepending a `/`. This library is widely used and I would prefer to only make safe changes by now. Your idea of logging a warning could be such a safe addition. Do you wanna provide a PR for this?

[2019-01-04 14:53] helfi92 commented on #58
Works for me. I'll create a PR soon.

[2019-01-08 08:34] bripkens commented on #58
Released as `1.6.0`.

[2019-01-13 07:35] FuweiChin opened #60 "dont't fallback to index page if browser doesn't want html"
It's unreasonable to serve html for non-html requests with status code 2xx. so connect-history-api-fallback shouldn't redirect to index page if browsers don't explicitly accept html, thus `options.htmlAcceptHeaders` should default to `["text/html"]` from `["text/html","*/*"]` since most dependents(at least those I 'm using) and developers don't set that option and most browsers' request header 'ac

[2019-01-13 07:47] bripkens commented on #60
So you are proposing to remove `*/*` from the default `options.htmlAcceptHeaders` configuration? Why is this? Is this coming from an actual problem you are having?

[2019-01-15 07:53] FuweiChin commented on #60
Yes，yes!

Most type of auto-sent requests will accept `*/*`, e.g. requests initiated by `<img>`,`<link>`,`<script>`, etc.

+ image `accept: image/webp,image/apng,image/*,*/*;q=0.8`
+ css `accept: text/css,*/*;q=0.1`
+ javascript `accept: */*`
+ font `accept: */*`

If we keep `*/*` in option `htmlAcceptHeaders` by default, thus we think requests initiated by `<img>`,`<link>`,`<script>` are html req

[2019-01-15 08:59] bripkens commented on #60
I am well aware of the theory behind this, but so far this library seems to have worked very well for its users. This is why I asked for an actually existing problem caused by this default configuration option.

Given a download rate of currently over 4 million times per week, I am not willing to make such a potentially breaking change and through that affect users.

[2019-01-17 10:50] joelpro2 commented on #52
I have the same error and it comes whenever i add the disableDotRule:true

i awas able to trace the error and in comes from app.js auto generated from index.html
**<**!DOCTYPE html>

[2019-02-10 16:41] georgeben opened #61 "Doesn't work when a route is reloaded"
I set up a simple express app to use connect-history-api-fallback. Here's my code:

[code]
I have a vue application which has a route - `/about` to display the about page.
When loaded initially in the browser, the routes work as expected but whenever I reload a route in my vue app, for example '/about', I get a `Cannot GET /about` which means a request was still sent to the server.

Please how can

[2019-02-11 07:54] bripkens commented on #61
Check out the example app [1]. For follow up support please refer to StackOverflow.

[1] https://github.com/bripkens/connect-history-api-fallback/tree/master/examples/static-files-and-index-rewrite

[2019-02-11 07:54] #61 closed

[2019-05-09 10:04] hyq2015 opened #62 "What if the index.html is not in the root directory,such as it's in the src directory?"
below setting not work!!! seems it dosen't support directory
app.use(history({
    index: path.resolve(__dirname,"../src/index.html")
}));

[2019-05-09 11:08] bripkens commented on #62
The configuration files describes how the **HTTP** request path should be changed. I extended the documentation to make this more explicit. This will hopefully resolve the confusion for you:

https://github.com/bripkens/connect-history-api-fallback/blob/master/README.md#index

[2019-05-09 11:08] #62 closed

[2019-05-21 15:14] sibelius commented on #60
any workaround for this?

[2019-06-30 13:37] shellscape commented on #60
@bripkens this is a real issue affecting users. It's wonderful that the module has so many downloads! But that doesn't discount the effect of a small bug when one is found. Breaking changes are tough; they require documentation, a major release, and lots of questions from users.

Wouldn't a more reasonable solution then be an option to allow for different behavior to resolve this case? That would

[2019-07-01 15:34] bripkens commented on #60
Sounds like a fair approach @shellscape. Also, I would very much appreciate a sample app under `examples/` which illustrates when this is needed 👍

[2019-07-21 15:35] shellscape commented on #60
Thank  you @bripkens

@sibelius @fuweichin can either of you take up the effort for this contribution?

[2019-08-13 13:23] ShuZhong opened #68 "Is there a way only fallback to index.html when 404 (not exist file)"
Sometimes i want load another html file, and also want load default index.html when file not exist.
(Such as webpack-dev-sever historyApiFallback)

[2019-11-06 16:22] aminnaggar opened #71 "mistakenly rewriting non extension files as extensioned files"
It seems that regardless of what I set `disableDotRule` to it disables the dot rule. By that I mean that if a route does not have an extension it still treats it like it's a file and does not route it to index.html as it should but instead attempts to route the file.

I'm sure I'm missing something small, please let me know what it is I'm missing.

This is my current setup

[code]

### expected be

[2019-11-06 16:29] bripkens commented on #71
Please check the example app and specifically how it mounts the static file handler (it does so twice). Does this resolve your problem?

https://github.com/bripkens/connect-history-api-fallback/tree/master/examples/static-files-and-index-rewrite

[2019-11-06 16:43] aminnaggar commented on #71
wow, thank you for the fast response checking it out now will let you know

[2019-11-06 17:54] aminnaggar commented on #71
I'm afraid it's not working, I tried a bunch of different experiments but none of them gave me the desired effect.

Despite getting closer now the issue is that it correctly routes

`/login` -> `/public/index.html` -> `${__dirname}/../public/dist/index.html`

however inside of my `index.html` it's referring to `/css/main.css`  which should redirect to `/public/css/main.css` which serves `/public/d

[2019-11-06 20:07] aminnaggar commented on #71
I used heavy inspiration from your code and wrote this:

[code]

which behaves exactly as expected. I hope this helps.

I'm not sure if I should keep the ticket open or not, I'll leave that up to you. Let me know if you need any help with this implementation 👍

[2019-11-07 08:33] #71 closed

[2019-11-07 08:57] bripkens commented on #71
Thanks!

[2019-12-12 20:26] dsinni opened #72 "HEAD requests are not accepted"
Hello,

Currently, it appears that the this does not accept `HEAD` requests with the default configuration, which results in `404` errors for those requests.

Is there a way to allow this through configuration currently? If not, would it maybe be worthwhile to add support for `HEAD` requests as well since they're basically simplified `GET` requests for header info?

Hoping someone can point me in

[2019-12-13 08:21] bripkens commented on #72
Hey @dsinni,

could you describe the use case behind this for me? Preferably with an example app in a PR so that I understand why this needs to be done (and to test changes)?

[2019-12-13 19:32] dsinni commented on #72
Hi, @bripkens.

Thanks for the reply.

I'm currently using `connect-history-api-fallback` in conjunction with `vue-router`'s `history` mode.

Not sure I'll be able to provide an app at the moment, but an example seems to be the use of `socket.io` which appears to use `HEAD` requests. I've also seen that other libraries check for the existence of paths/files using `HEAD` requests as they're lighter

[2020-01-10 16:19] AlexSolovev commented on #44
Did you resolve the issue? Could you explain, how to serve different index for `/`?

[2020-04-08 06:07] gapsaras opened #75 "hisotryApiFallback rewrites don't work"
Hi there, recently I met a problem with rewrites, following is my config:
[code]

I want to rewrite path / to another appointed path `/index`, and other path fallback to default index.html， but fails, and I try with `curl` ,  when I `curl localhost:3031/` it returns the default index.html content, but `curl localhost:3031/index` it returns what I want.

Please let me how to fix it or is there a wo

[2020-04-08 06:19] bripkens commented on #75
Hey @gapsaras,

this issue tracker is only meant to be used for bugs and feature requests. I interpret your message as a usage question. Please use platforms such as StackOverflow and others for usage questions.

This being said, I would suggest using the [verbose mode](https://github.com/bripkens/connect-history-api-fallback#verbose) to understand what connect-history-api-fallback is doing.

[2020-04-08 06:19] #75 closed

[2020-06-01 10:45] chunkbro opened #76 "Dynamic content in index.html"
I am using transformer-proxy module to load and edit value in index.html on startup. I see that with index property we can override the default index.html and it accepts a file name. Is there a way to pass html content to index property?

[2020-06-02 11:35] ajaysourcedigital commented on #16
@afgallo  were you able to solve this ?

[2020-10-11 03:45] Eduardo-Julio commented on #76
Did you find a solution for this?

[2020-10-11 05:04] Eduardo-Julio commented on #76
Found a solution.

Commenting here in case its useful or anyone else:

Use the `index` property that you can set to the middleware to use a route as the fallback.

Define that route and make all the logic to call and modify the index.html inside that route.

[code]

[2020-10-12 06:33] chunkbro commented on #76
I only needed one region specific property set dynamically. So I ended up saving the property in index.html before it is served. Your solution above should work better.

[2020-10-12 06:34] #76 closed

[2020-10-15 19:28] meatnordrink opened #77 "Dealing with trailing slashes"
Hi,

`connect-history-api-fallback` seems to disable Express's ability to handle trailing slashes, which normally just get removed.

For example:
- https://my.app/signup - works.
- https://my.app/signup/ - fails.

It seems like there must be some simple way around this, but I haven't been able to find one. Is there?

Thank you! A full snippet from my code is below, if that helps clarify things.

[

[2020-11-03 08:40] watery commented on #72
Hi @bripkens and @dsinni, any update on this?

[2021-05-21 11:10] abdulsalamalmahdi opened #78 "GET request does not go th"

[2021-05-21 11:15] abdulsalamalmahdi commented on #78
hellow,

the module cause GET requests to not work,
if I disable history api it works fine.
after changing opts verbose to  true , it console logs  Rewriting GET / to /index.html ?

could please tell what should I do

[2021-05-31 03:14] apgapg opened #79 "disableDotRule causes png, jpeg files to rewrite to index.html"
Suppose my png is on `/logo.png` directory. Now if i access this on `/` route it works fine but when I access this on a nested route like `/nested/logo.png` this gets rewrite to /index.html instead of `/logo.png` which causes link break.

Any help?

[2021-07-21 01:16] ocian opened #80 "js file not found when subdirectory visited directly"
If visited is `/a/b`, it will redirect to `/index.html`;
But, `/a/main.js` will no any redirect, and I need it redirect to `/main.js`.
I think it should be used in `/index.html` when and where.

And this config works for me, I rewrite all assets file to the website root directory.

[code]

[2021-09-09 01:37] ezzatron opened #81 "Should History API fallback use HTTP content negotiation?"
Hey there, I was looking at the implementation here as a I guide for the correct way to implement fallback in my own application. I noticed this package is using HTTP content negotiation. I had considered that approach myself in the past, since it seems to work nicely to avoid getting served HTML in inappropriate contexts. But I have some concerns that maybe there are problems with the approach to

[2021-09-30 13:17] Mahir92 opened #82 "Audit vulnerabilities detected in the connecthistoryapifallback project on Tag: v1.6.0"
**Issue**: We detected vulnerable dependencies in your project by using the command “npm audit”:
#### npm audit report

diff  <3.5.0
Severity: high
Regular Expression Denial of Service - https://npmjs.com/advisories/1631
fix available via `npm audit fix`
node_modules/diff
  tap-mocha-reporter  0.0.4 - 5.0.0
  Depends on vulnerable versions of diff
  node_modules/tap-mocha-reporter
    tap  5.1.0 -

[2021-12-30 05:36] ocian commented on #80
It solved my problem, thank you.

[2021-12-30 05:36] #80 closed

[2022-04-14 12:12] TarikSeyceri opened #83 "Running code from another path causes history api not to work"
Hello,

My project is in this path: /opt/backend/main.js
if i "cd /opt/backend" and "node main.js"
it works like a charm

but if i do this "cd /opt" and "node backend/main.js"
history api doesn't work, doesn't work, i meant: the request falls in my express.js 404 error
any idea to provide real __dirname to the history api ?

If you wanna ask me, why i wanna do this? it is because, i am using syste

[2022-04-19 06:30] bripkens commented on #83
Hey @TarikSeyceri,

this module does not leverage `__dirname` nor `process.cwd()`. So I would suspect that the problem you are facing does not reside within this module, but instead within a configuration of connect/express. In case you are using `express.static()`, I would suspect a relative directive reference as part of the [root argument](https://expressjs.com/en/4x/api.html#express.static).

[2022-04-19 06:30] #83 closed

[2022-04-27 01:23] TarikSeyceri commented on #83
You are totally right!, it worked!!!,

Thanks a lot!,

i added __dirname to express.static(__dirname + "/public");

And it worked, Thanks again, you saved me a lot of trouble, sorry for the inconvenience.

Tarik.

[2022-08-20 02:33] qq281113270 opened #85 "Is there any KOA middleware"
How is it used in KOA? I get an error when using KOA

[2022-08-20 07:19] bripkens commented on #85
There is a separate implementation for koa. This package doesn't support koa.

https://www.npmjs.com/package/koa-history-api-fallback

[2022-08-20 07:19] #85 closed